body {
    font-family: sans-serif;
    margin-top: 20px;
    background-color:lightgrey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

//.bold {
//    font-weight: bold;
//}

.img-medium {
    height: 200px;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
    color: #234865;
    font-family: cursive;
    padding-left: 15px;
    padding-right: 10px;
}

